# flyctl launch added from .gitignore
**/node_modules
**/.idea
**/venv
**/__pycache__

# flyctl launch added from .idea\.gitignore
# Default ignored files
.idea/shelf
.idea/workspace.xml
# Editor-based HTTP Client requests
.idea/httpRequests



# flyctl launch added from parser\haskell\.gitignore
parser/haskell/**/*~
parser/haskell/**/*.swp
parser/haskell/**/tarballs
parser/haskell/**/.stack-work
parser/haskell/**/out

# flyctl launch added from parser\haskell\.idea\.gitignore
# Default ignored files
parser/haskell/.idea/*

# flyctl launch added from venv\.gitignore
# created by virtualenv automatically
venv/**/*
fly.toml
.DS_Store/**/*