<!doctype html>
<html lang="en">
<head>
    <title>Goanna</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="//unpkg.com/alpinejs" defer></script>

    <style>
        .code {
            font-family: "JetBrains Mono", monospace;
            font-variant-ligatures: none;
            font-kerning: none;
        }

    </style>
    <script>
        const pointInRange = ([x, y], [[fromX, fromY], [toX, toY]]) => {
            return x >= fromX && x <= toX && y >= fromY && y < toY
        };
        let data = {
            ...JSON.parse(`
            {{data}}
            `),
            error_id: 0,
            cause_id: 0,
            pointInCauseLoc(x, y) {
                if (this.cause_id === null) return false
                if (this.diagnoses.length === 0) return false
                return this.diagnoses[this.error_id].causes[this.cause_id].rules.map(r => r.meta.loc[1]).some(loc => pointInRange([x, y], loc))

            }
        }


    </script>
</head>

<body class="flex flex-col h-screen" x-data="data">
<div class="menu-bar h-10 bg-gray-100">
    <a >Save</a>
</div>

<div class="main-interface flex" style="height: calc(100vh - 2.5rem)">
    <div class="p-1">
        <template x-for="f in file_list">
            <a :href="`/editor/${user_id}/${f}`"
               :class="f === file && 'bg-gray-400'"
               class="h-8 block leading-8 bg-gray-200 my-0.5 px-2" x-text="f"></a>
        </template>

    </div>

    <div class="h-full overflow-y-auto relative flex-grow">
        <div class="highlight absolute">
            <template x-for="l in max_line_number">
                <div class="line h-8 flex">
                    <template x-for="c in max_col_number">
                    <span class="code h-6 inline-block text-white my-1"
                          :class="pointInCauseLoc(l, c) && 'bg-blue-300'"
                    >&nbsp;</span>
                    </template>
                </div>
            </template>

        </div>
        <pre class="code absolute leading-8 outline-none w-full"
             spellcheck="false"
             contenteditable="true"
             x-text="atob(text)"></pre>

    </div>

    <div class="w-96 p-1 bg-gray-100 h-full overflow-y-auto">
        <div class="flex p-2">
            <template x-for="(diagnosis, e_id) in diagnoses">
                <div x-text="'Error ' + (e_id + 1)" class="mr-4 cursor-pointer text-gray-500"
                     @click="error_id = e_id"
                    :class="error_id === e_id && 'text-indigo-800'"
                ></div>
            </template>
        </div>
        <div class="flex flex-col p-2">
            <template x-if="error_id != null && diagnoses.length != 0">
                <template x-for="(cause, c_id) in diagnoses[error_id].causes">
                    <div class="my-1">
                        <div @click="cause_id == c_id ? cause_id = null : cause_id = c_id"
                             class="cursor-pointer p-1 text-white flex space-between"
                             :class="cause_id == c_id ?'bg-gray-800' : 'bg-gray-400'"
                             >
                            <span class="flex">
                                <template x-for="rule in cause.rules">
                                    <div x-text="atob(rule.meta.src_text.value)"
                                         class="text-black px-1 mx-0.5"
                                         :class="cause_id == c_id ?'bg-blue-200' : 'bg-gray-200'">
                                    </div>
                                </template>
                            </span>
                            <span x-show="cause_id !== c_id">
                                <svg fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                  <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
                                </svg>
                            </span>
                             <span x-show="cause_id === c_id">
                                <svg fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                  <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
                                </svg>
                            </span>
                        </div>
                        <div class="bg-white">
                            <template x-if="cause_id == c_id">
                                <template x-for="rule in cause.rules">
                                    <div x-text="atob(rule.meta.src_text.value)">
                                    </div>
                                </template>
                            </template>
                        </div>
                    </div>
                </template>
            </template>
        </div>
    </div>
</div>
</body>
</html>